.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8;
}

.settingsWrapper {
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.settingsTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.settingsUpdateTitle {
  font-size: 18px;
  font-weight: bold;
}

.settingsDeleteTitle {
  color: red;
  font-size: 14px;
  cursor: pointer;
}

.settingsForm {
  display: flex;
  flex-direction: column;
}

.settingsForm label {
  font-weight: bold;
  margin-bottom: 5px;
}

.settingsForm input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.settingsPP {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.settingsPP img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.settingsPPIcon {
  font-size: 18px;
  cursor: pointer;
}

.settingsSubmit {
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.settingsSubmit:hover {
  background-color: #333;
}

.settingsSubmit:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
