.register {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #DFD3E3; 
}

.registerTitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333; 
}

.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 2rem;
  border-radius: 10px;
  background-color: #fff; /* change to your desired background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.registerInput {
  width: 80%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #f6f6f6; 
}

.registerInput:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.registerButton {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #333; 
  color: #fff; 
  font-weight: bold;
  cursor: pointer;
}

.registerButton:hover {
  background-color: #555; /* change to your desired hover background color */
}

.registerLoginButton {
  margin-top: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.registerLoginButton:hover {
  text-decoration: underline;
}

.link {
  text-decoration: none;
  color: #333; /* change to your desired font color */
}

.link:hover {
  text-decoration: underline;
}

.error {
  color: red;
  margin-top: 1rem;
  font-size: 1rem;
}
