.header {
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color:white;
}

.headerTitleSm {
  position: absolute;
  top: 18%;
  font-size: 20px;
}

.headerTitleLg {
  position: absolute;
  top: 24%;
  font-size: 80px;
}

.headerImg{
    width: 100%;
    height: 450px;
    margin-top: 140px;
    object-fit: cover;
}